**/.DS_Store
**/.git
**/.github
**/bin/
**/obj/
**/.vs/
**/*.user
**/.idea/
**/appsettings.Local.json
apps/
admin-dashboard/
supabase/
node_modules/
**/node_modules/
.cursor/
docs/
*.md
!backend/**/*.md
